.App {
  height: 100%;
  width: 100%;
  display: grid;
  text-align: center;
  grid-template-rows: 20% 80%;
}

.table-container {
  background-color: rgb(223, 185, 116);
}

.selectors-container {
  background-color: rgb(147, 147, 180);
}